<div class="container">
    <h1 class="text-center">LISTADO DE RESERVAS</h1>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Documento</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Fecha y hora Partida</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reserva of listReservas; let i = index">
          <td>{{ reserva.reservationCode }}</td>
          <td>{{ reserva.document }}</td>
          <td>{{ reserva.firstName }}</td>
          <td>{{ reserva.lastName }}</td>
          <td>{{ getFechaSalida(reserva.service) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  